PRIVATE_KEY=your_wallet_private_key
OG_CONTRACT_ADDRESS=deployed_0g_mainnet_address
BASE_CONTRACT_ADDRESS=deployed_base_sepolia_address
OG_COMPUTE_PROVIDER=0x1B3AAef3ae5050EEE04ea38cD4B087472BD85EB0
KEEPERHUB_API_KEY=your_keeperhub_api_key
